@charset "utf-8";

/* CSS Document */


/*初期設定
------------------------------*/

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
  height: auto;
}


/*ページの枠組み
------------------------------*/


/*ヘッダー
------------------------------*/

header .l_header__box {
  background-image: url(../images/forest_01.png);
  background-repeat: no-repeat;
  background-position: center;
}

header .l_header__sns {
  display: flex;
  align-items: center;
}

header .l_header__sns li {
  margin-right: 32px;
}

header .l_header__sns li:last-child {
  margin-right: 0;
}

header .l_header__sns li img {
  min-width: 54px;
}

header .l_header__small {
  display: flex;
  align-items: center;
}
header .l_header__small li {
  border-right: 1px solid #fff;
  margin-right: 10px;
  padding-right: 10px;
}
header .l_header__small li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
header .l_header__small li a {
  color: #fff;
}

/*ナビゲージョン
------------------------------*/


/*メインコンテンツ
------------------------------*/

main {
  text-align: center;
}

main ul li {
  display: inline;
}

section {
  margin: 0 auto;
  /*width: 828px;*/
  height: 300px;
}

section p {
  display: inline;
}


/*フッター
------------------------------*/

/* ***********************************************
   PC用
*************************************************/

@media screen and (min-width:769px) {
  /* Header用
  ------------------------------*/
  header .l_header__logo {
    max-width: 204px;
    margin: 0 auto;
    transform: translate(0, 50%);
    -webkit-transform: translate(0, 50%);
  }
  header .l_header__global {
    width: 100%;
    margin-top:120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  header .l_header__global li{
    margin-right: 40px;
  }
  header .l_header__global li:last-child{
    margin-right: 0;
  }
  header .l_header__small {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    transform: translate(0, -130%);
    -webkit-transform: translate(0, -130%);
  }
  header .l_header__sns {
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 0;
  }
  header .l_header__nav--cont {
    max-width: 1000px; 
    margin: 0 auto;
    position: relative;
  }
}


/* ***********************************************
   SP用
*************************************************/

@media screen and (max-width:768px) {
  /* Header用
  ------------------------------*/
  header .l_header__box {
    background-position: left top;
    background-size: 100%;
    position: relative;
    height: 19vw;
  }
  header .l_header__logo {
    width: 20vw;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  header .l_header__global li {
    margin-bottom: 20px;
  }
  header .l_header__global li:last-child {
    margin-bottom: 20px;
  }
  header .l_header__global li a {
    display: block;
  }
  header .l_header__sns {
    margin-top: 30px;
    justify-content: center;
  }
  header .l_header__small {
    margin-top: 30px;
    justify-content: center;
    font-size: 12px;
  }

  /* ハンバーガーメニュー(SP用)
  ------------------------------*/
  header .l_header__nav {
    text-align: right;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: none;
  }
  header .l_header__nav.is-active {
    background-color: #000;
    pointer-events: auto;
  }
  header .l_header__nav--btn {
    background-color: #000;
    margin: 10px 10px 0 0;
    padding: 2.5vw;
    display: inline-block;
    pointer-events: auto;
  }
  header .l_header__nav--btn a, .l_header__nav--btn span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  header .l_header__nav--btn a {
    position: relative;
    width: 8vw;
    height: 6vw;
  }
  header .l_header__nav--btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.7vw;
    background-color: #fff;
    border-radius: 4px;
  }
  header .l_header__nav--btn a span:nth-of-type(1) {
    top: 0;
  }
  header .l_header__nav--btn a span:nth-of-type(2) {
    top: 2.6vw;
  }
  header .l_header__nav--btn a span:nth-of-type(3) {
    bottom: 0;
  }
  header .l_header__nav--btn a.is-active span:nth-of-type(1) {
    -webkit-transform: translateY(2.6vw) rotate(-45deg);
    transform: translateY(2.6vw) rotate(-45deg);
  }
  header .l_header__nav--btn a.is-active span:nth-of-type(2) {
    left: 50%;
    opacity: 0;
    -webkit-animation: active-menu-bar02 .8s forwards;
    animation: active-menu-bar02 .8s forwards;
  }
  @-webkit-keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }
  @keyframes active-menu-bar02 {
    100% {
      height: 0;
    }
  }
  header .l_header__nav--btn a.is-active span:nth-of-type(3) {
    -webkit-transform: translateY(-2.6vw) rotate(45deg);
    transform: translateY(-2.6vw) rotate(45deg);
  }
  header .l_header__nav--cont {
    color: #fff;
    display: none;
    text-align: center;
    margin-top: 50px;
  }
  header .l_header__nav--cont a {
    color: #fff;
  }
  header .l_header__nav--cont.is-onanimation {
    display: block;
    background-color: #000;
  }

  /* 店舗挨拶文
  ------------------------------*/

  h2 img {
    text-align: center;
    width: 210px;
    height: 59px;
    margin-top: 50px;
    /* height: 0.5vw; */
  }

  section {
    margin: 0  auto;
  }

  section p {
    color: darkgoldenrod;
    font-size: 11px;
    line-height: 25px;
  }

}

  /* 主要コンテンツ
  ------------------------------*/

  section ul img{
    border-radius: 50%;
    margin-bottom: 40px;
  }

  /* トピックス
  ------------------------------*/
  h3 img{
    text-align: center;
    height: 40px;
  }